<div class="container">
  <div class="row mt-4">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label class="title">Materia</label>
      <p>{{ product.material.name}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label class="title">Tipo</label>
      <p>{{ product.archetype.name}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label class="title">Peso</label>
      <p>{{ product.weight }}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label class="title">Precio</label>
      <p>{{ product.price | currency:'$ ':'symbol':'4.0' }}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label class="title">Color</label>
      <p>{{ product.color}}</p>
    </div>
  </div>
</div>